*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: lightgreen;
}
#wrap{
    background-color: rgba(255, 255, 255, 0.6);
    outline: 1px solid black;
    border-radius: 3px;
    text-align: center;
    margin: 50px 20%;
    padding: 25px 20px;
    gap: 10px;
    display: grid;
}
#wrap #title{
    font-size: 18px;
    font-weight: bold;
}
#input-box{
    display: grid;
    padding: 10px 65px;
    gap: 15px;
    align-content: center;
}

input[type=text]{
    padding: 10px 10px;
}
#submit-btn{
    width: 50%;
    padding: 5px;
    color: white;
    background-color: darkgreen;
    border: none;
}
#wrap ol{
    padding: 10px 35px;
    text-align: start;
}
#wrap #todo-list{
    margin: 10px 0px;
    display: flex;
    padding: 0px 5px;
    width: 100%;
    justify-content: space-between;
    transition: all 0.05s ease-in-out;
}
/* #todo-list p{
    text-decoration: line-through;
} */
#list-btn{
    display: flex;
    justify-content: right;
    gap: 5px;
    width: 40%;
}
#btn{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    transition: all 0.05s ease-in-out;
}
#btn:hover{
    transform: scale(1.05);
    transition: all 0.05s ease-in-out;
}
.material-symbols-outlined{
    font-size: 24px;
}

@media screen and (min-width: 780px){
    #wrap{
        margin: 50px 35%;
    }
}